{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p class="alert alert-warning" >
                        {{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="card">
                <div class="card-body text-center">
                    <form id="paymentForm" action="." method="POST" autocomplete="off">
                        {% csrf_token %}
        
                        {{form|crispy}}
                    
                        <div class="mb-3 mt-3 form-group">
                            <button class="btn btn-danger btn-block btn-lg" id="make-payment">Pay Tshs. {{plans.price|floatformat:2}}/=</button>
                            <p class="mb-2 mt-2 text-secondary">Your Order ID: {{subscription.id}}</p>
                        </div>
                        <div class="mb-2">
                            <small>Please keep your phone in hand. Once you click "Pay" a request to comfirm your M-PESA PIN sent to your phone.</small>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}