{% extends 'base.html' %}


{% block content %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="display-5">Pricing</h3>
  </div>
  
<div class="container">
    <div class="card-deck mb-3 text-center">
        {% for plan in object_list %}
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{plan.name}}</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title pricing-card-title">Tshs. {{plan.price}} <small class="text-muted">/ mo</small></h5>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>3 users included</li>
                    <li>3 Branch/store</li>
                    <li>Free support</li>
                    <li>Centre manager</li>
                </ul>
                {% if plan.name == 'Free' %}
                    <a href="{% url 'accounts:signup' %}" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
                {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-lg btn-block btn-primary">Get started</button>
                    <input type="hidden" name="plan_id" value="{{plan.id}}">
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}