Django==3.1.12
django-crispy-forms==1.9.2
six==1.15.0
Pillow
django-widget-tweaks==1.4.8
certifi==2018.1.18
chardet==3.0.4
idna==2.6
pycryptodome
requests>=2.20.0
urllib3==1.25.10
django-decouple==2.1
unipath==1.1
dj-database-url==0.5.0
./portal-sdk/
