{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<br><br>
<div class="col-md-6 offset-md-3" style="padding-top: 150px; height: 100vh;">

    <p class="lead">
        Thank you for registering your account in Fagrimacs.
    </p>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        {{ message }}
    </div>


</div>
{% endblock %}
