<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Credentials - Django Saas</title>
</head>


<body>
    <h2>Welcome to Django saas</h2>
    <p>
        Please use the below credentials for login 
    </p>
    <p>
        <p>Email address: {{email}}</p>
        <p>Password: {{password}}</p>
    </p>
</body>
</html>
