{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Change your password - {{ request.user }}
{% endblock title %}

{% block content %}
<div class="col-md-5 offset-md-3">
    <div class="card">
        <div class="card-body">
            <h2>Change your password</h2>
            <form method="POST" class="pt-4">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-danger" type="submit">Change my password</button>
            </form>

        </div>
    </div>
</div>
{% endblock content %}
