{% extends 'base.html' %}


{% block title %}
    Password reset complete
{% endblock title %}

{% block content %}
    <div class="container col-md-6 offset-md-3" style="height: 100vh; padding-top: 150px;">
        <div class="card">
            <div class="card-body">
                <h3 class="text-success">Password reset complete.</h3>
                <p class="lead">
                    Your new password has been set. You can log in now on the <a href="{% url 'accounts:login' %}">login</a> page.
                </p>
                <a class="btn btn-danger btn-lg" role="button" href="{% url 'accounts:login' %}">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}
