{% extends 'base.html' %}


{% block title %}Email Sent 
{% endblock title %}

{% block content %}
  <div class="container" style="height: 100vh; padding-top: 150px;">
    <h3 class="text-success">Password reset sent, Check your inbox</h3>
    <p class="lead">
        We’ve emailed you instructions for setting your password, You should receive the email shortly.
        <br>
        <hr>
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
    </p>
  </div>

{% endblock content %}
